* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html {
    text-transform: uppercase;
}

.container{
    display: grid;
    text-align: center;
    justify-content: center;
    color: black;
}


.container > * {
    display: grid;
    align-items: center;
    justify-items: center;
}

.header{
    background-color: red;
    grid-area: head;
}

.menu {
    background-color: orange;
    grid-area: menu;
}

.hero {
    background-color: yellow;
    grid-area: hero;
}

.main {
    background-color: green;
    grid-area: main;
}

.banner {
    background-color: blue;
    grid-area: ban;
}

.extra {
    background-color: purple;
    grid-area: ex;
}

.image {
    background-color: magenta;
    grid-area: img;
}



@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "head head head head"
        "hero hero hero hero"
        "menu main main main"
        "menu ban ban ban"
        "menu ex ex img"
        ;
        grid-template-rows: 100px 400px 400px 200px 200px;
    }
}
@media (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "head"
        "menu"
        "hero"
        "main"
        "ban"
        "ex"
        "img"
        ;
        grid-template-rows: 100px 100px 300px 300px 200px 200px 200px;
    }
}
